
<template name="search">
    <div id="#searchContainer" class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <button type="button" id="addSamplePeopleButton" class="btn btn-default" >Add sample people</button>
                <button type="button" id="removeSamplePeopleButton" class="btn btn-default" >Remove all sample people</button>
                <button type="button" id="setMapLocationButton" class="btn btn-default" >View map at my location</button>
                <button type="button" id="updateMapButton" class="btn btn-default" >Update search results on map</button>
                <div id="searchNotifyDiv"></div>
            </div> <!-- column -->
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <form class="search-form" action="#">
                    <div class="form-group">
                        <div class="input-group">
                            {{> EasySearch.Input index=peopleIndex event='enter' attributes=inputAttributes}}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div><!-- /input-group -->        
                    </div><!-- /form-group -->  
                </form>        
            </div> <!-- column -->
        </div>  <!-- row -->
        
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{> searchFilters}}
            </div> <!-- column -->
        </div>  <!-- row -->
        
        <hr/>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{#EasySearch.IfInputEmpty index=peopleIndex}}
                    <div class="no-results">Enter a search word</div>
                {{else}}
                    {{#EasySearch.IfSearching index=peopleIndex }}
                        <div>Searching ...</div>
                    {{else}}
                        <div class="padded count-results">{{resultsCount}} results found.</div>
                        {{#if resultsCount}}
                            <!-- TODO multiple indexes, to search products and people, conditionally on filters/context -->
                            <!-- TODO pagination, more results than limit, etc. -->
                            <ul>
                                {{#EasySearch.Each index=peopleIndex }}
                                    <!-- TODO item in list to have link to view map marker -->
                                    <li>{{fullname}}, {{city}} {{zipcode}} <a href="/profile/{{member_key}}">(profile)</a> {{#if latlng}}(map){{else}}no map location{{/if}}</li>
                                {{/EasySearch.Each}}
                            </ul>
                        {{/if}}
                    {{/EasySearch.IfSearching }}
                {{/EasySearch.IfInputEmpty}}
            </div> <!-- search result column -->
            <div class="col-sm-6 col-xs-12">
                {{> searchMap}}
            </div> <!-- map column -->
        </div> <!-- row -->
    </div>
</template>

<template name="searchFilters">
    <h5>Filters: <span class="label label-default">People</span></h5>
    
<!--     
    <select class="category-filter disabled" disabled>
        <option value="">All</option>
        <option value="People" selected>People</option>
        <option value="Products">Products</option>
        <option value="Events">Events</option>
    </select>
 -->
    <input type="text" name="city" class="form-control" placeholder="city...">

    <input type="text" name="zipcode" class="form-control" placeholder="zip code...">
    
    <div class="input-group">
      <input type="text" name="range" class="form-control" aria-label="range" placeholder="range...">
      <span class="input-group-addon" id="rangeUnits" aria-label="range units">mi</span>
    </div><!-- /input-group -->
<!--     
    <select class="range-units">
        <option value="" selected>mi</option>
        <option value="km">km</option>
    </select>
 -->
</template>

<!-- <template name="awesomeAutosuggest"> -->
<!-- Meteor package: easysearch:autosuggest -->
    <!-- searchIndex typeof EasySearch.Index -->
    <!-- {{> EasySearch.Autosuggest index=peopleIndex }} -->
    <!-- bug in easy:search 2.0.6 - duplicates the suggest values, fixed in 2.0.7 (not tested by me)  -->
    <!-- bug? timeout not working for auto suggest? think it is configured differently to search -->
<!-- </template> -->

<template name="searchMap">
    <div id='SearchResultMap' class="searchMap-container"></div>
</template>
