
<template name="search">
    <div id="#searchContainer" class="container">
        <button type="button" id="addSamplePeopleButton" class="btn btn-default" >Add sample people</button>
        <button type="button" id="removeSamplePeopleButton" class="btn btn-default" >Remove all sample people</button>
        <button type="button" id="setMapLocationButton" class="btn btn-default" >View map at my location</button>
        <button type="button" id="updateMapButton" class="btn btn-default" >Update search results on map</button>
        <div id="searchNotifyDiv"></div>
        <!-- <p>search for: {{searchText}}</p> -->
        {{> EasySearch.Input index=peopleIndex event='enter' attributes=inputAttributes}}
        <!-- timeout=500  -->

        {{> searchFilters}}
        
        <hr/>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                {{#EasySearch.IfInputEmpty index=peopleIndex}}
                    <div class="no-results">Enter a search word</div>
                {{else}}
                    {{#EasySearch.IfSearching index=peopleIndex }}
                        <div>Searching ...</div>
                    {{else}}
                        <div class="padded count-results">{{resultsCount}} results found.</div>
                        {{#if resultsCount}}
                            <!-- TODO multiple indexes, to search products and people, conditionally on filters/context -->
                            <!-- TODO pagination, more results than limit, etc. -->
                            <ul>
                                {{#EasySearch.Each index=peopleIndex }}
                                    <li>{{fullname}}{{#if city}}, {{city}}{{/if}}</li>
                                {{/EasySearch.Each}}
                            </ul>
                        {{/if}}
                    {{/EasySearch.IfSearching }}
                {{/EasySearch.IfInputEmpty}}
            </div> <!-- search result column -->
            <div class="col-sm-6 col-xs-12">
                {{> searchMap}}
            </div> <!-- map column -->
        </div> <!-- row -->
        <hr/>
        <!-- {{> awesomeAutosuggest}} -->
    </div>
</template>

<template name="searchResults">
</template>

<template name="searchFilters">
    <p>Filters:</p>
    <select class="category-filter disabled" disabled>
        <option value="">All</option>
        <option value="People" selected>People</option>
        <option value="Products">Products</option>
        <option value="Events">Events</option>
    </select>

    <select class="city-filter">
        <option value="">(Any city)</option>
        <option value="Davie">Davie</option>
        <option value="Fort Lauderdale">Fort Lauderdale</option>
        <option value="Tampa">Tampa</option>
    </select>

    <select class="range-filter">
        <option value="">(Any range)</option>
        <option value=  "805">half mile</option>
        <option value= "1609">1 mile</option>
        <option value= "3219">2 miles</option>
        <option value= "8047" selected>5 miles</option>
        <option value="16093">10 miles</option>
        <option value="24140">15 miles</option>
        <option value="32187">20 miles</option>
        <option value="40233">25 miles</option>
        <option value="48280">30 miles</option>
    </select>
</template>

<!-- <template name="awesomeAutosuggest"> -->
<!-- Meteor package: easysearch:autosuggest -->
    <!-- searchIndex typeof EasySearch.Index -->
    <!-- {{> EasySearch.Autosuggest index=peopleIndex }} -->
    <!-- bug?  repeats the suggest values to about four times each ??? is there a default create config? -->
    <!-- bug? timeout not working for auto suggest? think it is configured differently to search -->
<!-- </template> -->

<template name="searchMap">
    <div id='SearchResultMap' class="searchMap-container"></div>
</template>
