
<template name="search">

    <input type="button" class="addSample btn btn-default" value="Add Sample People" data-toggle="popover" data-content="And here's some amazing content. It's very engaging. Right?" />

    <!-- TODO placeholder text -->
    {{> EasySearch.Input index=peopleIndex timeout=500 attributes=inputAttributes}}

    {{> searchFilters}}
    
    <hr/>
    {{#EasySearch.IfInputEmpty index=peopleIndex}}
        <div class="no-results">Enter a search word</div>
    {{else}}
        {{#EasySearch.IfSearching index=peopleIndex }}
            <div>Searching ...</div>
        {{else}}
            <div class="padded count-results">{{resultsCount}} results found.</div>
            {{#if resultsCount}}
                <!-- TODO multiple indexes, to search products and people, conditionally on filters/context -->
                <!-- TODO pagination, more results than limit, etc. -->
                <ul>
                    {{#EasySearch.Each index=peopleIndex }}
                        <li>Name of the person: {{fullname}}</li>
                    {{/EasySearch.Each}}
                </ul>
            {{/if}}
        {{/EasySearch.IfSearching }}
    {{/EasySearch.IfInputEmpty}}
    <hr/>
    <!-- {{> awesomeAutosuggest}} -->
</template>

<template name="searchFilters">
    <p>Filters:</p>
    <select class="category-filter">
        <option value="">All</option>
        <option value="People">People</option>
        <option value="Products">Products</option>
        <option value="Events">Events</option>
    </select>

    <select class="location-filter">
        <option value="">All</option>
        <option value="Davie">Davie</option>
        <option value="Fort Lauderdale">Fort Lauderdale</option>
        <option value="Tampa">Tampa</option>
    </select>
</template>

<!-- <template name="awesomeAutosuggest"> -->
    <!-- searchIndex typeof EasySearch.Index -->
    <!-- {{> EasySearch.Autosuggest index=peopleIndex }} -->
    <!-- bug?  repeats the suggest values to about four times each ??? is there a default create config? -->
    <!-- bug? timeout not working for auto suggest? think it is configured differently to search -->
<!-- </template> -->
