#centralImg {
        float: left;
        width: auto;max-width: 100%; height: 100%;
        margin-left: 0%;   
        margin-top: -260px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;     
      
}
   
#featureHdr2{
    font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;   
}


.thumbnail{
 
    position:relative;
    height: auto;
}
.details {
    float: left;clear: none;
    width: 50%;   height: auto;
    position: relative;  top: 0px; left: 0px; z-index: 90;
    margin-top: -200px; margin-left: 6%;
}

#Help_Join_Button {
    position: relative;  top: 0px; left: 0px; z-index: 90;
    margin-top: 200px; margin-left: 6%;
}

#Help_About {
    float: left;clear: both;   
    position: relative;top: 40px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    height: auto;
     font-size: 1.4em; color: rgb(57, 57, 57);
    text-align: center;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
}

#Help_Explanation {
    float: left;clear: both;   
    position: relative;top: 340px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    height: auto;
     font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
}

#Help_Features {
    float: left;clear: both;   
    position: relative;top: 540px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    height: auto;
     font-size: 1.4em;
    color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
}

#Help_Tutorial_Button {
  position: relative;top: 60px; left: 200px; z-index: 30;  
    
}

#Help_Join_Button { 
   position: relative;top: -30px; left: 70px; z-index: 30; 
}