#centralImg {
        float: left;
        width: auto;max-width: 100%; height: 100%;
        margin-left: 0%;   
        margin-top: -260px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;     
      
}
   
#featureHdr2{
    font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;   
}


.thumbnail{
 
    position:relative;
    height: auto;
}
.details {
    float: left;clear: none;
    width: 50%;   height: auto;
    position: relative;  top: 0px; left: 0px; z-index: 90;
    margin-top: -200px; margin-left: 6%;
}

#Help_Join_Button {
    top: 0px; left: 0px; z-index: 90;
    margin-top: 5%; margin-left: 6%;
}

#Help_About {
    height: 700px;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0%;
    clear: none;
    font-size: 1.4em;
    color: rgb(0, 0, 0);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
    text-align: center;
}

#Help_Explanation {
    float: left;clear: both;   
    position: relative;top: 340px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    height: auto;
     font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
}
#Help_garden_graphic {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    z-index: 18;
    background-image:url("/images/soil-sky.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 700px; 
    width: auto; 
    max-width: 1440px; 
    max-height: 900px;
}
#Help_Features {
    clear: both;   
    top: 540px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    height: auto;
     font-size: 1.4em;
    color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;
}

#Help_Tutorial_Button {
  top: 60px; margin-left: 20%; z-index: 30;  
    
}

#Help_Join_Button { 
   position: relative;top: -30px; left: 70px; z-index: 30; 
}