<template name="home">
  <!-- <h1>Home Page</h1> -->
  <!--{{> leafButtons}} -->

  {{> homeNew}}
  {{> homeAbout}}
  {{> homeLocalPedia}}
  {{> homeFootr}}
  <!-- {{> centralSection}} -->
</template>

<template name="searchHome">
  <div class="container">
    <input id="searchText">
    <button disabled>Search</button>
    <button disabled>Advanced Search</button>
  </div>
</template>

<template name="leafButtons">
  <!-- TODO do we want bootstraps class "img-responsive" ? -->
  <div id="homeButtonsContainer" class="container">
    <img id="leafStemCircles" src="/images/leaves_stems_circles.svg" alt="leaves and circles">
    <div>
      <!-- <img id="opportunitiesTextImage" src="/images/OPPORTUNITIES.png" alt="leaves and circles"> -->
      <!-- TODO use current user data  -->
      {{#if currentUser}}
        <a href="/profile/1" >
          <img src="/images/user-images/profile-jane.jpg" class="img-circle" id="myProfileCircle" alt="Profile">
        </a>
      {{else}}
        <a href="/login" >
          <img src="/images/logo_square.png" id="myProfileCircle" alt="Login">
        </a>
      {{/if}}
    </div>
    <!-- {{> loginButtons}} -->
  </div>
</template>

<template name="centralSection">
  <!-- TODO Initially shows as no user, then shows for user.
      Should have loading message instead, can we query user to see if it's ready? -->
  {{#if Template.subscriptionsReady}}
    {{#if currentUser}}
      <p>Welcome {{currentUser._id}}</p>
    {{else}}
      <input id="username" placeholder="Username">
      <input id="password" class="password" placeholder="Password">
      <p>New here? Sign up and grow with us!</p>
    {{/if}}
  {{> loginButtons}}
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="homeNew">
<div id="hometemplateContainer" class="container">
<div class="row">

<div class="col-md-4">
<div  class="thumbnail" id="member_image_block">
   <img id="featureImg" src="/images/Member image block.png" class="image" />
    <div class="overlayText">
    <p id="featureHdr"> Members </p>
    </div>
</div>

<div class="thumbnail" id="events_image_block" >
    <img id="featureImg" src="/images/events image block.png" class="image" />
    <div class="overlayText">
    <p id="featureHdr">Events</p>
    </div>
      
</div>

<div class="thumbnail" id="discussion_image_block" >
    <img id="featureImg" src="/images/Discussion image block.png" class="image" />
    <div class="overlayText">
    <p id="featureHdr"> Discussions </p>
    </div>
</div>
</div>
    
<div class="col-md-4">
<div class="thumbnail" id="main_image_blockxx">
    <img id="featureImgxx" src="/images/main image block.png" class="image" />
        <div class="HomecentralImg">
      <p id="Main_headerx">Connect. Share. Learn. GrowSocial!</p>
    <p id="Main_header2x">Join the fast-growing network of people dedicated to local food growing and creating a sustainable economy.<br />
    </p>
    <button type="button" id="Learn_More_button" class="btn btn-primary">Learn More</button>
    <p id="Phoenix_Farms_Lakeland_Florida">
        <span id="txtHOME01">Phoenix Farms<br /></span><span id="txtHOME02">Lakeland, Florida</span>
    </p>
        </div>
    </div>
    </div>
    
<div class="col-md-4">
<div class="thumbnail" id="opportunities_image_block">
    <img id="featureImg" src="/images/opportunities image block.png" class="image" />
    <div class="overlayText">
    <p id="featureHdr">Opportunities</p>
    </div>
</div>

<div class="thumbnail" id="business_image_block">
    <img id="featureImg" src="/images/business image block.png" class="image" />
    <div class="overlayText">
    <p id="featureHdr"> Businesses</p>
    </div>
</div>

<div class="thumbnail" id="localpedia_image_block">
    <img id="featureImg" src="/images/2015-12-26_16-58-40.jpg" class="image" />
    <div class="overlayText">
    <p id="featureHdr"> Localpedia </p>
    </div>
    
</div>
</div>
</div>
    </div>
</template>

<template name="homeAbout">
  <div class="container">
      <div class="row">

<div class="col-md-12">
<div id="About_block" class="clearfix">
    <div id="garden_graphic" class="clearfix">
        <div id="sky" class="clearfix">
            <p id="About_GrowSocial"> About GrowSocial</p>
            <p id="AboutMSG">
            GrowSocial connects people and businesses based on where they live. We promote local food growing and sustainable economies with marketplace page options for each member along with their profile. We are a hybrid of social media and marketplace web platforms helping to create vibrant local communities.
            </p>
            <div id="profile_pic_circle" class="clearfix"></div>
            <p id="Members">Members</p>
            <p id="MembershipMSG">
            Our members are the growers, producers, teachers, artisans and foodies that are the heart of your local food economy. Join the community and find your place in your local food web.  Whether you produce a little or a lot, like to eat local, buy local, or want to participate in the local food economy, GrowSocial is the place to be.
            </p>
             <button type="button" id="Join_GrowSocial_button" class="btn btn-primary">Join GrowSocial </button>
            <p id="FeatureMember">
            <span id="txtHOME01">Anthony Anderson<br /></span>
            <span id="txtHOME02">Farmer, Beekeeper, &#x2b;2 more<br /></span>
            <span id="txtHOME01">Fort Lauderdale, FL</span>
            </p>

        </div>



    </div>
</div>
    </div>
      </div>
    </div>
</template>

<template name="homeLocalPedia">
  <div class="container">
      <div class="row">

<div class="col-md-12">
<div id="localpedia_block" class="clearfix">
    <p id="Connect_Locally_Share_Globally_">
    Connect Locally. Share Globally.
    </p>
    <p id="localPediaMSG">
    Growing conditions, plants and soils and everything else related to food production in your local area. Localpedia is your Wikipedia on a local level and lets you find and share information that’s relevant to your area.
    </p>
    <button type="button" id="localpedia_button" class="btn btn-primary">View Localpedia </button>
    <div id="localPediaMAP" class="clearfix"></div>
</div>

    </div>
      </div>
    </div>

</template>
<template name="homeFootr">
      <div class="container">
      <div class="row">

<div class="col-md-12">
  <div id="homefooter_background" class="clearfix">
    <p id="GrowSocial2015">Grow Social &copy; 2015</p>
    <p id="About_FAQ_Privacy_">
    About &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FAQ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Privacy &nbsp; &nbsp; &nbsp; &nbsp; 
    </p>
  </div>
    </div>
      </div>
    </div>
</template>
