<template name="home">
  <!-- <h1>Home Page</h1> -->
  <!--{{> leafButtons}} -->

  {{> homeNew}}
  {{> homeAbout}}
  {{> homeLocalPedia}}
  {{> homeFootr}}
  <!-- {{> centralSection}} -->
</template>

<template name="searchHome">
  <div class="container">
    <input id="searchText">
    <button disabled>Search</button>
    <button disabled>Advanced Search</button>
  </div>
</template>

<template name="leafButtons">
  <!-- TODO do we want bootstraps class "img-responsive" ? -->
  <div id="homeButtonsContainer" class="container">
    <img id="leafStemCircles" src="/images/leaves_stems_circles.svg" alt="leaves and circles">
    <div>
      <!-- <img id="opportunitiesTextImage" src="/images/OPPORTUNITIES.png" alt="leaves and circles"> -->
      <!-- TODO use current user data  -->
      {{#if currentUser}}
        <a href="/profile/1" >
          <img src="/images/user-images/profile-jane.jpg" class="img-circle" id="myProfileCircle" alt="Profile">
        </a>
      {{else}}
        <a href="/login" >
          <img src="/images/logo_square.png" id="myProfileCircle" alt="Login">
        </a>
      {{/if}}
    </div>
    <!-- {{> loginButtons}} -->
  </div>
</template>

<template name="centralSection">
  <!-- TODO Initially shows as no user, then shows for user.
      Should have loading message instead, can we query user to see if it's ready? -->
  {{#if Template.subscriptionsReady}}
    {{#if currentUser}}
      <p>Welcome {{currentUser._id}}</p>
    {{else}}
      <input id="username" placeholder="Username">
      <input id="password" class="password" placeholder="Password">
      <p>New here? Sign up and grow with us!</p>
    {{/if}}
  {{> loginButtons}}
  {{else}}
    <p>Loading...</p>
  {{/if}}
</template>

<template name="homeNew">

<div id="main_image_block" class="clearfix">
    <p id="Main_header">Connect. Share. Learn. GrowSocial!</p>
    <p id="Main_header2">Join the fast-growing network of people dedicated to local food growing and creating a sustainable economy.<br />
    </p>
    <div id="Learn_More_button" class="clearfix">
        <p id="Learn_More">Learn More</p>
    </div>
    <p id="Phoenix_Farms_Lakeland_Florida">
        <span id="txtHOME01">Phoenix Farms<br /></span><span id="txtHOME02">Lakeland, Florida</span>
    </p>
    <img id="imageMain" src="/images/main image block.png" class="image" />
</div>

<div id="member_image_block" class="clearfix">
    <p id="featureHdr"> Members </p>
<img id="featureImg" src="/images/Member image block.png" class="image" />
</div>

<div id="events_image_block" class="clearfix">
    <p id="featureHdr">Events</p>
    <img id="featureImg" src="/images/events image block.png" class="image" />   
</div>

<div id="discussion_image_block" class="clearfix">
    <p id="featureHdr"> Discussions </p>
    <img id="featureImg" src="/images/Discussion image block.png" class="image" />
</div>

<div id="opportunities_image_block" class="clearfix">
    <p id="featureHdr">Opportunities</p>
    <img id="featureImg" src="/images/opportunities image block.png" class="image" />
</div>

<div id="business_image_block" class="clearfix">
    <p id="featureHdr"> Businesses</p>
    <img id="featureImg" src="/images/business image block.png" class="image" />
</div>

<div id="localpedia_image_block" class="clearfix">
    <p id="featureHdr"> Localpedia </p>
    <img id="featureImg" src="/images/2015-12-26_16-58-40.jpg" class="image" />
</div>

</template>

<template name="homeAbout">

<div id="About_block" class="clearfix">
    <div id="garden_graphic" class="clearfix">
        <div id="sky" class="clearfix">
            <p id="About_GrowSocial"> About GrowSocial</p>
            <p id="AboutMSG">
            GrowSocial connects people and businesses based on where they live. We promote local food growing and sustainable economies with marketplace page options for each member along with their profile. We are a hybrid of social media and marketplace web platforms helping to create vibrant local communities.
            </p>
            <div id="profile_pic_circle" class="clearfix"></div>
            <p id="Members">Members</p>
            <p id="MembershipMSG">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nibh lobortis, laoreet nulla eu, scelerisque lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tortor nisl, egestas ac egestas eget, semper et justo. Nulla et euismod mi, ac fringilla sem.
            </p>
            <div id="Join_GrowSocial_button" class="clearfix">
                <p id="Join_GrowSocial">Join GrowSocial</p>
            </div>
            <p id="FeatureMember">
            <span id="txtHOME01">Anthony Anderson<br /></span>
            <span id="txtHOME02">Farmer, Beekeeper, &#x2b;2 more<br /></span>
            <span id="txtHOME01">Fort Lauderdale, FL</span>
            </p>

        </div>



    </div>
</div>

</template>

<template name="homeLocalPedia">

<div id="localpedia_block" class="clearfix">
    <p id="Connect_Locally_Share_Globally_">
    Connect Locally. Share Globally.
    </p>
    <p id="localPediaMSG">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nibh lobortis, laoreet nulla eu, scelerisque lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus tortor nisl, egestas ac egestas eget, semper et justo. Nulla et euismod mi, ac fringilla sem. In auctor lacinia dui, quis faucibus lorem iaculis auctor. Morbi in orci interdum, ultricies felis porttitor, hendrerit justo.
    </p>
    <div id="localpedia_button" class="clearfix">
        <p id="View_Localpedia">View Localpedia </p>
    </div>
    <div id="localPediaMAP" class="clearfix"></div>
</div>



</template>
<template name="homeFootr">
  <div id="homefooter_background" class="clearfix">
    <p id="GrowSocial2015">Grow Social &copy; 2015</p>
    <p id="About_FAQ_Privacy_">
    About &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; FAQ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Privacy &nbsp; &nbsp; &nbsp; &nbsp; 
    </p>
  </div>

</template>
