<template name="profile">
    <!-- TODO do we want class "container"? -->
    <div id="primaryContainer" class="primaryContainer clearfix container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img id="image" src="{{person.coverPhoto}}" class="image" />
            </div>
        </div>
    </div>
    
    <h1>Profile</h1>
    <p>personId: {{person.personId}}</p>
    <p>Profile for {{person.name}}</p>
    <p>Community Roles: {{person.rolesShort}}</p>
    <p>Location: {{person.location}}</p>
    <img src="{{person.pic}}" alt="Profile pic">
    <ul>
        {{#each postList}}
            <li><img src="{{icon}}" class="img-circle postIcon" alt="icon">posted at: {{datePosted}}, message: {{message}}</li>
        {{/each}}
    </ul>
</template>

