

<template name="profile">

<!-- div id="primaryContainer" class="primaryContainer clearfix" -->
<div id="primaryContainer">

    <img id="image" src="/images/headerPicFULL-1576.jpg" class="image" />
    <div id="buttons" class="clearfix">
        <div id="blog" class="clearfix"><p id="View_Blog">View Blog</p></div>
        <div id="connect" class="clearfix"><p id="_">&#x2b;</p><p id="Connect">Connect</p>
        </div>
        <div id="message" class="clearfix"><img id="Vector_Smart_Object" 
            src="/images/icons/thoughtBubble-ICON.png" class="image" />
            <p id="Message">Message</p>
        </div>
    </div>

    <div id="member" class="clearfix">
        <img id="membPic" src="/images/user-images/anthony.png" class="image" />
    </div>
    <p id="membrfunctXX">{{person.name}}</p>

    <div id="badges" class="clearfix">
        <div id="badge-frame" class="clearfix"><img id="award_icon" src="/images/icons/award-icon.png" class="image" />
        </div>
        <div id="badge-frame" class="clearfix"><img id="lotus_icon" src="/images/icons/lotus-icon.png" class="image" />
        </div>
        <div id="badge-frame" class="clearfix"><img id="tomato_icon" src="/images/icons/tomato-icon.png" class="image" />
        </div>
        <div id="badge-frame" class="clearfix"><img id="sun_icon" src="/images/icons/sun-icon.png" class="image" />
        </div>
        <p id="badges-help"> What’s this&#x3f;</p >
        
    </div>

    

    <!--  div id="navbarPROFILE" class="clearfix">{{> nb}}</div -->

    <div id="navbarPROFILE" class="clearfix">
        <p id="membrfunctX">marketplace</p>
        <p id="membrfunctX">more ▼</p>
        <p id="membrfunct"></p> 
        <p id="membrfunct">{{person.rolesShort}}</p> 
        <p id="membrfunct">{{person.location}} </p> 
    </div>
</div> <!-- div id="primaryContainer" -->


<div id="sidebarPROFL" class="clearfix"> <!-- sidebar   `````````````````````````````````````````````````````````   -->

    <div id="box" class="clearfix">
        <img id="IconCNONE" src="/images/icons/category-icon.png" class="image" />
        <p id="sidebarcontent">
          <span id="textspan1">{{person.rolesShort}}</span>
          <span id="textspan1">, (+ 2 more)<br /></span>
        </p>

        <img id="IconCBOTH" src="/images/icons/location-icon.png" class="image" />
        <p id="sidebarcontent"><span id="textspan1">{{person.location}}</span></p>
    </div> <!-- header-->

    <div id="box" class="clearfix"> 
        <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />
        <p id="sidebarHDR">ABOUT</p>
        <p id="aboutContent">
            I live to farm, I farm to live. But enough about me! What about you? Let me tell you about how we farm. We demonstrate natural farming techniques here. It comes naturally to us. Lispsum fat poo poop ee doo, papadum tooey, roses and cauliflower, lions + tigers too. Don't forget the ivy, the fire ants are OUR FRIENDS!
        </p>
        <p id="Read_More_">Read More ></p>
    </div> <!-- about -->

    <div id="box" class="clearfix"> 
        <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />
        <p id="sidebarHDR">CONTACT</p>
        <div id="contactIconROW" class="clearfix">
            <img id="ContactIcon" src="/images/icons/emailIcon.png" class="image" />
            <img id="ContactIcon" src="/images/icons/phoneIcon.png" class="image" />
            <img id="ContactIcon" src="/images/icons/websiteIcon.png" class="image" />
            <img id="ContactIcon" src="/images/icons/linksIcon.png" class="image" />
            <img id="ContactIcon" src="/images/icons/socialIcon.png" class="image" />
        </div>

        <p id="contactInfo">           
            <span id="textspan">Email<br /></span>
            <span id="textspan3">anthony@anthonysfarm.com<br /></span>
        </p>
        <p id="contactInfo">
            <span id="textspan">Phone<br /></span>
            <span id="textspan3">Request Info<br /></span>
        </p>
        <p id="contactInfo">
            <span id="textspan">Website<br /></span>
            <span id="textspan3">anth&#x40;anthonysfarm.com<br /></span>
        </p>
        <p id="contactInfo">
            <span id="textspan">Links<br /></span>
            <span id="textspan3">blog.anthonysfarm.com<br /></span>
        </p>
        <p id="contactInfo"><span id="textspan">Social<br /></span> </p>

        <div id="socialmediaIcons" class="clearfix">
            <img id="facebIcon" src="/images/icons/facebookIcon.png" class="image" />
            <img id="tweetIcon" src="/images/icons/tweetIcon.png" class="image" />
            <img id="instagIcon" src="/images/icons/instagIcon.png" class="image" />
        </div>
    </div><!-- contact -->

    <div id="box" class="clearfix">
        <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />
        <p id="sidebarHDR">REVIEWS</p>
          <div id="ratingStars" class="clearfix">
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <img id="image" src="/images/icons/starGhost.png" class="image" />
          </div>
        
        <p id="textspan22">4.9 Stars &#x7c; 46 Reviews</p>

        <div id="widebar" class="clearfix"></div>

        <p id="contactInfo">
            <span id="textspan3">John Doe</span>
            <span id="textspan">- In feugiat pulvinar nisi, vel tempor neque aliquam in. 
            Donec quis facilisis ipsum. Ut malesuada libero eu libero vestibulum...</span>         
        </p>
        <p id="sidebarcontent">    
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <span id="textspan3">4.5 Stars</span>
            <span id="textspan3">&nbsp;- June 15, 2015</span>
            <span id="Read_More_">Read More ></span>
        </p>


        <p id="contactInfo">
            <span id="textspan3">Billie Black</span>
            <span id="textspan">- In feugiat pulvinar nisi, vel tempor neque aliquam in. 
            Donec quis facilisis ipsum. Ut malesuada libero eu libero vestibulum...</span>         
        </p>
        <p id="sidebarcontent">    
            <img id="image" src="/images/icons/starYellow.png" class="image" />
            <span id="textspan3">4 Stars</span>
            <span id="textspan3">&nbsp;- March 1, 2015</span>
            <span id="Read_More_">Read More ></span>
        </p>




        <p id="View_All_">View All &gt;&gt; </p>
    </div> <!-- reviews -->

    <div id="box" class="clearfix">
        <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />
        <p id="sidebarHDR"> PHOTOS </p>

        <div id="photoGroup" class="clearfix">
            <div id="pictureFrame0" class="clearfix">
            </div>
            <div id="pictureFrame1" class="clearfix">
            </div>
            <div id="pictureFrame2" class="clearfix">
            </div>
            <!-- div id="pictureFrame2" class="clearfix">
            </div -->
        </div>
        <div id="photoGroup" class="clearfix">
            <div id="pictureFrame0" class="clearfix">
            </div>
            <div id="pictureFrame1" class="clearfix">
            </div>
            <div id="pictureFrame2" class="clearfix">
            </div>
            <!-- div id="pictureFrame2" class="clearfix">
            </div -->
        </div>
        <div id="photoGroup" class="clearfix">
            <div id="pictureFrame0" class="clearfix">
            </div>
            <div id="pictureFrame1" class="clearfix">
            </div>
            <div id="pictureFrame2" class="clearfix">
            </div>
            <!-- div id="pictureFrame2" class="clearfix">
            </div -->
        </div>

        <p id="View_All_">View All &gt;</p>
    </div><!-- PHOTOS -->

    <div id="box" class="clearfix">
        <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />
        <p id="sidebarHDR"> VIDEOS </p>

        <div id="photoGroup" class="clearfix">
            <div id="pictureFrame0" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <div id="pictureFrame1" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <div id="pictureFrame2" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <!-- div id="pictureFrame2" class="clearfix">
            </div -->
        </div>

        <div id="photoGroup" class="clearfix">
            <div id="pictureFrame0" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <div id="pictureFrame1" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <div id="pictureFrame2" class="clearfix">
                <img id="Vector_Smart_Object" src="/images/icons/videoStart.png" class="image" />
            </div>
            <!-- div id="pictureFrame2" class="clearfix">
            </div -->
        </div>



        <p id="View_All_">View All &gt;</p>
    </div><!-- videOS -->



    <img id="horizonDividr" src="/images/icons/horizontalDivider.png" class="image" />

</div><!-- sidebar -->




<div id="zone00" class="clearfix">

    <div id="commentsPROFL" class="clearfix">
        <p id="membrfunct">comment</p>
        <div id="commEntryPROFL" class="clearfix"><p id="promptCommPROFL"> Write something...</p>
        </div>
    </div> <!-- end commentsPROFL -->

    <div id="marketplaceItems" class="clearfix"> 
        <p id="title"> MARKETPLACE</p>  
        <p id="View_All_">View All &gt;</p>
        <img id="left_arrow" src="/images/icons/left-arrow.png" class="image" />
        <div id="marketItemsGroup" class="clearfix">
            <div id="marketItem1" class="clearfix">
                <p id="itemAlert">sold out<br /></p>
                <p id="itemDesc">Lacinato Luck&nbsp;&#x24;3.01&#x2f;lb</p>
                <img id="SelectFavorite" src="/images/icons/favorite-icon.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-icon.png" class="image" />              
            </div>
            <div id="marketItem2" class="clearfix">
                <p id="itemAlert">weekly special<br /></p>
                <p id="itemDesc">Lacinato Luck&nbsp;&#x24;3.01&#x2f;lb</p>
                <img id="SelectFavorite" src="/images/icons/favorite-icon.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-icon.png" class="image" />  
            </div>
            <div id="marketItem3" class="clearfix">
                <p id="itemAlert">new item<br /></p>
                <p id="itemDesc">Lacinato Luck&nbsp;&#x24;3.01&#x2f;lb</p>
                <img id="SelectFavorite" src="/images/icons/favorite-icon.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-icon.png" class="image" />  
            </div>
            <div id="marketItem4" class="clearfix">
                <p id="itemAlert">clearance<br /></p>
                <p id="itemDesc">Lacinato Luck&nbsp;&#x24;3.01&#x2f;lb</p>
                <img id="SelectFavorite" src="/images/icons/favorite-icon.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-icon.png" class="image" />  
            </div>
            <div id="marketItem5" class="clearfix">
                <p id="itemAlert">2-for-one<br /></p>
                <p id="itemDesc">Lacinato Luck&nbsp;&#x24;3.01&#x2f;lb</p>
                <img id="SelectFavorite" src="/images/icons/favorite-icon.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-icon.png" class="image" />  
            </div>
        </div>
        <img id="right_arrow" src="/images/icons/right-arrow.png" class="image" />



    </div> <!-- div id="marketplaceItems" class="clearfix" -->



    <div id="newsFeed1" class="clearfix">
        <div id="profile_pic_copy" class="clearfix"></div>

        <p id="newsFeedcontent">
          <span id="textspan1">{{person.name}} listed a new item on his Marketplace.<br /></span>
          <span id="textspan">2&#x3a;08 pm</span>
        </p>

        <div id="listing_box" class="clearfix">

            <img id="Photo_Object" 
            src="/images/user-images/AuntRubyTomato128.png" class="image" />

            <p id="newsFeedcontent">
                <span id="textspan1">Aunt Ruby&#x27;s Green Tomato </span>
                <span id="textspan1">- &#x24;2.99&#x2f;lb<br /><br /></span>
                <span id="textspan2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nibh lobortis, laoreet nulla eu, scelerisque lorem. Class aptent...</span>
            </p>
            <div id="statusIcons" class="clearfix">
                <img id="SelectFavorite" src="/images/icons/favorite-iconTRUE.png" class="image" />
                <img id="SelectWatch" src="/images/icons/watch-iconTRUE.png" class="image" /> 
            </div>
        </div>

        <p id="newsFeedcontent">
            <span id="textspan">1 favorite &nbsp;&#x7c; &nbsp;2 comments &nbsp;&#x7c; &nbsp;1 share</span>
        </p>

        <div id="responseIcons" class="clearfix">
            <img id="Vector_Smart_Object" src="/images/icons/ribbon-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/comment-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/share-icon.png" class="image" />
        </div>

    </div>




    <div id="newsFeed2" class="clearfix">
        <div id="profile_pic_copy" class="clearfix"></div>

        <p id="newsFeedcontent">
          <span id="textspan1">{{person.name}} is going to the event </span>
          <span id="textspan3"> Yoga on the Beach<br /></span>
          <span id="textspan">11&#x3a;01 am</span>
        </p>

        <div id="listing_box" class="clearfix">
           <img id="Photo_ObjectFULL" src="/images/user-images/event.png" class="image" /> 
        </div>
        <p id="Yoga_on_the_Beach_November_14_2015">
        <span id="textspan12">Yoga on the Beach<br /></span>
        <span id="textspan">November 14, 2015</span>
        </p>

        <p id="newsFeedcontent">
            <span id="textspan">1 favorite &nbsp;&#x7c; &nbsp;2 comments &nbsp;&#x7c; &nbsp;1 share</span>
        </p>

        <div id="responseIcons" class="clearfix">
            <img id="Vector_Smart_Object" src="/images/icons/ribbon-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/comment-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/share-icon.png" class="image" />
        </div>

    </div>



    <div id="newsFeed3" class="clearfix">

        <div id="profile_pic_copy" class="clearfix"></div>

        <p id="newsFeedcontent">
          <span id="textspan1">{{person.name}} is now connected with </span>
          <span id="textspan3"> Jessica Jones<br /></span>
          <span id="textspan">Yesterday</span>
        </p>

        <div id="listing_box" class="clearfix">
        <img id="Photo_Object" src="/images/user-images/jessica128.png" class="image" /> 

            <p id="newsFeedcontent">
                <span id="textspan18">Jessica Jones<br /></span>
                <img id="IconCNONE" src="/images/icons/category-icon.png" class="image" />
                <span id="textspan">&nbsp;Yoga Instructor, Massage Therapist, Owner of </span>
                <span id="textspan21">Ohm Wellness Center<br /></span>
               <img id="IconCBOTH" src="/images/icons/location-icon.png" class="image" /> 
               <span id="textspan21"><br /></span>
               <span id="textspan21">&nbsp;Sunrise, FL<br /></span>
            </p>

        </div>

        <p id="newsFeedcontent">
            <span id="textspan">1 favorite &nbsp;&#x7c; &nbsp;2 comments &nbsp;&#x7c; &nbsp;1 share</span>
        </p>

        <div id="responseIcons" class="clearfix">
            <img id="Vector_Smart_Object" src="/images/icons/ribbon-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/comment-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/share-icon.png" class="image" />
        </div>

    </div>


    <div id="newsFeed5" class="clearfix">
     <div id="profile_pic_copy" class="clearfix"></div>

     <p id="newsFeedcontent">
        <span id="textspan23">Anthony Anderson<br /></span><span id="textspan24">Sept 2<br /></span>
      </p>  
      <p id="newsFeedcontent">  
        <span id="textspan1">
        It is almost gardening season again&#x21; Looking forward to this year’s harvest. If you have any requests on what you would like to see us grow please leave a comment or message me&#x21;
        </span>
     </p>
             <div id="responseIcons" class="clearfix">
            <img id="Vector_Smart_Object" src="/images/icons/ribbon-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/comment-icon.png" class="image" />
            <img id="Vector_Smart_Object" src="/images/icons/share-icon.png" class="image" />
        </div>
    </div>




</div> <!-- zone00 -->


</template>



<template name="profileOld">
    <!-- TODO do we want class "container"? -->
    <div id="primaryContainer" class="primaryContainer clearfix container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img id="image" src="{{person.coverPhoto}}" class="image" />
            </div>
        </div>
    </div>
    
    <h1>Profile</h1>
    <p>personId: {{person.personId}}</p>
    <p>Profile for {{person.name}}</p>
    <p>Community Roles: {{person.rolesShort}}</p>
    <p>Location: {{person.location}}</p>
    <img src="{{person.pic}}" alt="Profile pic">
    <ul>
        {{#each postList}}
            <li><img src="{{icon}}" class="img-circle postIcon" alt="icon">posted at: {{datePosted}}, message: {{message}}</li>
        {{/each}}
    </ul>
</template>

