
<template name="people">

<div class="row">

  <!-- People 
  ****************************************************************************** -->
  <div class="col-md-6"><h1><b>People</b></h1> 
    <table class="table table-bordered table-condensed">
      <thead><tr> <td><b> Fullname * email * </b>{internal key}</td> </tr> </thead>
        <tbody>       
          {{#each people}}
            <tr class="person-row">
              {{#if notAdmin}}
              <td>
                <a href="{{pathForProfile}}"><b> {{fullname}} * {{email}} * </b> <em> {{member_key}}</em></a>
              </td>
              {{/if}}
            </tr>
          {{/each}}      
        </tbody>
    </table>
  </div>

</div> <!-- end row -->

<div class="col-md-6"><h1><br>Groups</h1></div>

</template>


