.peopleContainer tbody tr td, .peopleContainer thead tr th {
  border: none;
}

.peopleContainer p {
  text-indent: 30px;
  padding-bottom: 10px;
}

/*
.person-row {
  cursor: pointer;
}

.person-row.selected {
  background-color: #ccc;
}
 */