.marketContainer .productSummary .thumbnail {
    height: 430px;
    overflow: hidden;
}

.marketContainer .productDetail {
    padding-top: 15px;
}

.marketContainer .productDetail .thumbnail {
}

.marketContainer  .productSummary .thumbnail img {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.marketContainer .productDetail .thumbnail img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.marketContainer .thumbnail .itemName {
  /* allow two lines */
  height: 37px;
  overflow: hidden;
}

.marketContainer .thumbnail .itemDescription {
  /* allow two lines */
  height: 44px;
  overflow: hidden;
}

.marketContainer .col-container {
  overflow: hidden;
}

.marketContainer .form-group label {
  padding-left: 0;
  padding-top: 4px;
}

.marketContainer .thumbnail .priceLine {
  height: 22px;
  overflow: hidden;
}

.marketContainer .thumbnail .sellerLine {
  height: 22px;
  overflow: hidden;
}

.marketContainer .thumbnail .vendorLink {
  text-decoration: underline;
}

.marketContainer .thumbnail .buyAlert {
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 0;
  margin-top: 4px;
}

.marketContainer .row {
  margin-left: 0;
  margin-right: 0;
}

.marketContainer .selectedRow {
  width: 100%;
  background-color: #0e0;
}
