
<template name="location">
    <div id="#locationContainer" class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <button type="button" id="setMapLocationButton" class="btn btn-default" >View map at my location</button>
                <label>Drag position to fine-tune</label>
<!-- 
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"> Drag position to fine-tune
                    </label>
                </div>
 -->
                <button type="button" id="saveLocationButton" class="btn btn-default" >Save my location</button>
                <div id="locationNotifyDiv"></div>
        
        
                <!-- {{> locationFilters}} -->
        
        <hr/>
            </div> <!-- column -->
            <div class="col-sm-6 col-xs-12">
                {{> locationMap}}
            </div> <!-- map column -->
        </div> <!-- row -->
    </div>
</template>

<template name="locationFilters">
    <h5>Filters:  are applied for notifications and defaults for search</h5>
    
    <input type="text" name="city" class="form-control" placeholder="city...">

    <input type="text" name="zipcode" class="form-control" placeholder="zip code...">
    
    <div class="input-group">
      <input type="text" name="range" class="form-control" aria-label="range" placeholder="range...">
      <span class="input-group-addon" id="rangeUnits" aria-label="range units">mi</span>
    </div><!-- /input-group -->
<!--     
    <select class="range-units">
        <option value="" selected>mi</option>
        <option value="km">km</option>
    </select>
 -->
</template>

<template name="locationMap">
    <div id='locationMap' class="locationMap-container"></div>
</template>
