<template name="location">
    <div id="#locationContainer" class="container">
      {{#if currentUser}}
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>Setting my default map location for notifications and searches</p>
                <button type="button" id="setFromBrowserButton" class="btn btn-default" >Set location from browser</button>
                <button type="button" id="loadLocationButton" class="btn btn-default" >Load location</button>
                <label>Drag the marker to fine-tune your position</label>
                <button type="button" id="saveLocationButton" class="btn btn-default" >Save location</button>
                <div id="locationNotifyDiv"></div>
            </div> <!-- column -->
            <div class="col-sm-6 col-xs-12">
                {{> locationMap}}
            </div> <!-- map column -->
        </div> <!-- row -->
      {{else}}
        <p>Setting map location is only used when logged in.</p>
      {{/if}}
    </div>
</template>

<template name="locationMap">
    <div id='locationMap' class="locationMap-container"></div>
</template>
