body {margin:0;padding:0;word-wrap:break-word;}
img {border:none;}
input {border:1px solid black;border-radius:2px;padding:0;}
input[type=image] { border: none; }
textarea {border:1px solid black;padding:0;}
* {box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;}
a:link {color:#8bbe3c;text-decoration:underline;}
a:visited {color:#8bbe3c;text-decoration:underline;}
a:hover {color:#78a333;text-decoration:underline;}
a:active {color:#78a333;text-decoration:underline;}
.DefaultParagraph { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Times New Roman", serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0; }
.Body { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:13.0px;vertical-align:0; }
.Body a:link { color:#000000;text-decoration:underline; }
.Body a:visited { color:#000000;text-decoration:underline; }
.Body a:hover { color:#000000;text-decoration:underline; }
.Body a:active { color:#000000;text-decoration:underline; }
.Body9 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:13.0px;vertical-align:0; }
.Body9 a:link { color:#000000;text-decoration:underline; }
.Body9 a:visited { color:#000000;text-decoration:underline; }
.Body9 a:hover { color:#000000;text-decoration:underline; }
.Body9 a:active { color:#000000;text-decoration:underline; }
.Heading { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:700;color:#5e5a54;background-color:transparent;font-variant:normal;font-size:48.0px;vertical-align:0; }
.Heading-1 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:700;color:#ffffff;background-color:transparent;font-variant:normal;font-size:27.0px;vertical-align:0; }
.Heading-18 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:700;color:#ffffff;background-color:transparent;font-variant:normal;font-size:27.0px;vertical-align:0; }
.Heading-27 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:700;color:#000000;background-color:transparent;font-variant:normal;font-size:13.0px;vertical-align:0; }
.Heading-27 a:link { color:#5b5a5f;text-decoration:underline; }
.Heading-27 a:visited { color:#5b5a5f;text-decoration:underline; }
.Heading-27 a:hover { color:#78a333;text-decoration:underline; }
.Heading-27 a:active { color:#5b5a5f;text-decoration:underline; }
.Heading2 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Heather BTN", serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:40.0px;vertical-align:0; }
.Hyperlink10 { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:13.0px;vertical-align:0; }
.Hyperlink10 a:link { color:#8bbe3c;text-decoration:underline; }
.Hyperlink10 a:visited { color:#8bbe3c;text-decoration:underline; }
.Hyperlink10 a:hover { color:#8bbe3c;text-decoration:underline; }
.Hyperlink10 a:active { color:#8bbe3c;text-decoration:underline; }
.Normal { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Times New Roman", serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0; }
.Subheading { text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Arial", sans-serif;font-style:normal;font-weight:normal;color:#78a333;background-color:transparent;font-variant:normal;font-size:24.0px;vertical-align:0; }
