<template name="updateaf">
  <div class="row">



  <div class="col-md-6"><h2>Members</h2><p></p><!-- TABLE LIST -->

    <table class="table table-bordered table-condensed">
      <thead><tr> <td>Name</td> <td>Email</td> <td>City</td> <td>Zip</td> </tr> </thead>
        <tbody>
          {{#each people}}
            <tr class="person-row {{#if isSelectedPerson}}selected{{/if}}">
              <td>{{firstName}} {{lastName}}</td> <td>{{email}}</td><td>{{city}}</td><td>{{zipcode}}</td>
            </tr>
          {{/each}}
        </tbody>
    </table>

  </div> <!-- class="col-md-6"-->




  <div class="col-md-6"><!-- SELECTED DOCUMENT -->

    <div class="panel panel-default">
      <div class="panel-heading"> <h4>Selected Profile</h4> </div>
      <div class="panel-body">
          {{#autoForm id="afUpdateDemo" type=formType 
          collection=Collections.People  doc=selectedPersonDoc autosave=autoSaveMode}}
            {{> afQuickField name="firstName"}}
            {{> afQuickField name="lastName"}}
            {{> afQuickField name="email"}}
            {{> afQuickField name="street"}}  
            {{> afQuickField name="street2"}}
            {{> afQuickField name="city"}}
            {{> afQuickField name="state"}}
            {{> afQuickField name="zipcode"}}
            {{#unless autoSaveMode}}
             <div class="form-group">
              <button type="submit" class="btn btn-primary" disabled="{{disableButtons}}">Submit</button>
              <button type="reset" class="btn btn-default" disabled="{{disableButtons}}">Reset Form</button>
             </div>
            {{/unless}}
            <div class="form-group">
              <label><input type="checkbox" class="autosave-toggle" 
              value="" checked="{{autoSaveMode}}">autosave</label>
            </div>
          {{/autoForm}}
      </div><!-- class="panel-body" -->
    </div> <!-- class="panel panel-default" -->

    <div class="alert alert-info">  Blue panel stuff</div>

  </div> <!-- div class="col-md-6" -->



  </div><!-- class="row" -->

</template>
