<template name="notifications">
    <div class="container notification-container">
        <h1>Notifications</h1>
        {{#if currentUser}}
            <button type="button" id="addSampleNotificationButton" class="btn btn-default" >Add sample notification</button>
        
            <ul>
              <!-- show image, header, date/time -->
              <!-- TODO user can expand to see: message, tag, expireDate
              TODO flag message as "have read" once expanded
              TODO user can delete message -> flag as deleted in collection with deletion date
              TODO user can undelete messages, if not purged yet -->
              {{#each notifications}}
                  <li><img src="{{imageUrl}}" class="img-circle message-image" alt="msg">{{fromUserFirstName}} | {{header}} | {{formatTime(dateTime)}}</li>
              {{/each}}
            </ul>
        {{else}}
            <p>Notifications will show here when you are signed in.</p>
        {{/if}}
    </div>
</template>
