<template name="notifications">
  <h1>Notifications</h1>
  <ul>
    <li><a href="{{pathFor 'notifications'}}"><img src="/images/eagle.jpg" class="img-circle navbar-img nav-notify-dropdown-item-img" alt="message">Anthony's beefsteak tomato is sold out.</a></li>
    <li><a href="{{pathFor 'notifications'}}"><img src="/images/beagle.jpg" class="img-circle navbar-img nav-notify-dropdown-item-img" alt="message">Mary sent you a message.</a></li>
    <li><a href="{{pathFor 'notifications'}}"><img src="/images/kitten.jpg" class="img-circle navbar-img nav-notify-dropdown-item-img" alt="message">Reminder: Community garden volunteer day tomorrow.</a></li>
    <li><a href="{{pathFor 'notifications'}}"><img src="/images/eagle.jpg" class="img-circle navbar-img nav-notify-dropdown-item-img" alt="message">Anthony sent you a message.</a></li>
  </ul>
</template>
