@charset "UTF-8";

.grey {color: #aaa;}

/*  City Info   */
.city_detail_container { display: none; }
.city_detail_container .city_detail { width: 300px; border: 1px solid #ccc; }


/*  Interactive Map Container */
.map_contianer {
	background-image: url(../localResources/map.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 325px;
	width: 760px;
	position: relative;
	color: #000;
	font-family: Arial;
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 20px;
}

.map_contianer .clear_both { clear: both; line-height: 1px; }

.map_contianer h2 {
	margin: 0px 0px 0px 0px;
	font-size: 18px;
	font-weight: bold;
}
.map_contianer h3 {
	margin: 0px 0px 12px 0px;
	font-size: 12px;
	text-transform: none;	/*uppercase*/
	letter-spacing: 4px;
	color: #2c3748;
}
.map_contianer p { margin: 0px 0px 12px 0px; }

.map_contianer a, a:visited { color: #AA0000; margin: 0px 10px 0px 0px; }
.map_contianer a.dot {
	background-image: url(../localResources/dots.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display: block;
	position: absolute;
	cursor: pointer;
}
.map_contianer a.dot.selected {	background-position: 0px -40px;}
.map_contianer a.dot:hover {	background-position: 0px -20px;}
.map_contianer .form_continent {	position: absolute; top: 40px; left: 330px;}
.map_contianer .detail_container {	position: absolute;	top: 35px; left: 485px;	width: 235px;	height: 260px;}
.map_contianer .city_detail {
	position: absolute;
	top: 0px;
	width: 230px;
	padding: 10px 0px 0px 12px;
	border-left: 1px solid #a9b5c8;
	border-top: 1px solid #a9b5c8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.map_contianer .city_detail .city_photo {
	float: left;
	margin: 0px 15px 0px 0px;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 5px 3px #4e5d74;
	-webkit-box-shadow: 0px 5px 3px #4e5d74;
	-moz-box-shadow: 0px 5px 3px #4e5d74;
	-webkit-border-radius: 8px;
}
.map_contianer .city_detail .city_info {	width: 130px;	float: left; }
