<template name="cart">
  <h1 class="title cart-title">Shopping cart</h1>
  
  <!-- <input type="button" class="addSample btn btn-default" value="Add Sample Data" /> -->
  
  <div class="container cart-container">
    <div class="col-md-9">
      <ul>
        {{#each items}}
          <li>
            <div class="cartOrder">
              <div class="vendor">
                <p>{{vendorName}}</p>
              </div>
              <ul class="allProducts">
                {{#each products}}
                  <li class="row">
                    <span class="quantityBtns">
                      <input type="button" class="increase btn btn-default" value="+" /><br>
                      <input type="button" class="decrease btn btn-default" value="-" />
                    </span>
                    
                    <span class="quantity">
                      <input type="number" class="quantityVal" value="{{quantity}}" />   
                      <p class="unitType">{{unitType}}</p>
                    </span>
                    
                    <!-- <img class="itemPhoto" src="{{photo.src}}" alt="photo"> -->
                    <span class="itemName">{{name}}</span>
                    
                    <span class="removeItem">
                      <a class="glyphicon glyphicon-trash"></a>
                    </span>
                    
                    <span class="price">
                      ${{unitPrice}} / Total: ${{roundToCents(itemTotalPrice)}}
                      <p class="currency">{{currency}}</p>
                    </span>
                  </li>
                {{/each}}
                <li class="row totals">
                  <span class="itemName">Total:</span>
                  <span class="price">${{roundToCents(vendorTotal)}}</span>
                  <span class="order">
                    <a class="payVendor">Pay this vendor</a>
                  </span>
                  <script>
                    $(document).ready(function(){
                      $('[data-toggle="popover"]').popover();
                    });
                  </script>
                </li>
              </ul>
            </div>
          </li>
        {{/each}}
        <li class="row totals">
          <span class="itemName">Total:</span>
          <span class="price">${{totalPrice}}</span>
          <span class="order"> <a class="">Pay all vendors</a></span>
        </li>
      </ul>
    </div>
  </div>
</template>
