
#HomecentralImg {
        float: left;
        width: auto;max-width: 100%; height: 100%;
        margin-left: 0%;   
        margin-top: -260px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;       
}

#main_image_blockxx,#business_image_block,#localpedia_image_block,
#opportunities_image_block,#events_image_block,
#discussion_image_block,#member_image_block {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
#featureImg {
    margin: 0px;
}
#overlayText {
    float: left;clear: none;
    height: auto;
    position: relative;  top: 0px; left: 0px; z-index: 90;
    margin-top: -200px; margin-left: 6%;
}
  
.thumbnail {  
    position:relative;
    height: auto; 
}

#featureHdr{
    font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;   
}
#Main_headerx {
    float: left;
    font-size: 2em;
    width: 88%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;  text-decoration: none; font-family: lato;
    position: relative; top: 0px; left: 0px;
    z-index: 66;
    margin-top: 36px; margin-left: 7%;
    clear: none;
}
#Main_header2x {
    float: left;
    font-size: 1.2em;
    width: 88%;
    height: auto;
    text-align: center;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;  text-decoration: none; font-family: lato;
    position: relative; top: 0px; left: 0px;
    z-index: 66;
    margin-top: 16px; margin-left: 7%;
    clear: none;
}
#Learn_More_button {
    float: left;
    background-color: rgb(18, 130, 206);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
    margin-top: 19px;
    margin-left: 36.026936%;
    clear: both;
}
#Learn_More {
    float: left;
    font-size: 1.252845em;
    width: 64.324808%;
    height: auto;
    text-align: center;font-weight: normal;line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;text-decoration: none; font-family: lato;
    position: relative;
    top: 0px;left: 0px; z-index: 64;
    margin-top: 10px; margin-left: 18.469499%;
    clear: none;
}



#Phoenix_Farms_Lakeland_Florida {
    float: left;
    font-size: 1em;
    width: 23.063973%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin-top: 2px;
    margin-left: 73.905724%;
    clear: both;
}

#txtHOME01 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#txtHOME02 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}




#About_block {
    float: left;clear: none;
    height: 890px; width: 100%;
    background-color: rgb(145, 191, 217);
    position: relative; top: 0px; left: 0px; z-index: 15;
    margin-top: 0px; /*799px;*/
    margin-left: 0%;
    
}
#AboutMSG  {
    float: left;clear: both;   
    position: relative;top: 0px; left: 0px; z-index: 30;
    margin-top: 7px; margin-left: 15.541031%;
    width: 66.158315%; height: auto;
    color: rgb(57, 57, 57);
    font-size: 1.09541em; line-height: 24px; text-align: center;font-weight: normal;
    font-style: normal; letter-spacing: normal;text-decoration: none;font-family: lato;
}


#About_GrowSocial,#Members {
    float: left;clear: none;
    font-size: 2em;
    width: 35%;height: auto;
    text-align: center;font-weight: 600;line-height: normal;
    color: rgb(57, 57, 57);
    font-style: normal;letter-spacing: normal;
    text-decoration: none;font-family: lato;
    position: relative; top: 0px;left: 0px; z-index: 31;
    margin-top: 40px;
    margin-left: 31.735657%;    
}
#Members {
    color: rgb(255, 255, 255);
    margin-top: 376px;
    margin-left: -64.5%;
    clear: none;
}
#MembershipMSG {
    float: left;
    font-size: 1.09541em;
    width: 35.875091%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 431px;
    margin-left: -64%;
    clear: none;
}


.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#Join_GrowSocial {
    float: left;
    font-size: 1.1505712499999998em;
    width: 87.977116%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal; text-decoration: none; font-family: lato;
    position: relative; top: 0px; left: 0px; z-index: 26;
    margin-top: 16px;
    margin-left: 4.363419%;
    clear: none;
}

#Join_GrowSocial_button {
    float: left;
    position: relative;
    z-index: 25;
    margin-top: 40px;
    margin-left: 27%;
    clear: both;
}



#FeatureMember {
    float: left;
    font-size: 1em;
    width: 24%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 14px; margin-left: 21%;
    clear: none;
}
#tspanHOME01,#tspanHOME02,#tspanHOME03 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}
#tspanHOME02 {
    font-style: italic;
    font-weight: normal;
}
#tspanHOME03 {
    font-style: normal;
    font-weight: normal;
}

#garden_graphic {
    float: left;
    width: 100%;
    height: 890px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    background-image:url("/images/soil-sky.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}

#sky {
    float: left;
    width: 100%;
    height: 890px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    /*background-image:url("/images/sky.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    */
}

#profile_pic_circle {
    float: left;
    height: 208px;
    width: 208px;;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 343px;
    margin-left: 65.068991%;
    clear: both;
    background-image:url("/images/user-images/anthony.png");
    -webkit-background-size: 100%;
    background-size: 100%;
}


#View_Localpedia {
    float: left;
    font-size: 1.1505712499999998em;
    width: 81.595092%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 16px;
    margin-left: 7.352377%;
    clear: none;
}

#localpedia_button {
    float: left;
    background-color: rgb(18, 130, 206);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 41px;
    margin-left: 30%;
    clear: both;
}

#localPediaMSG {
    float: left;
    font-size: 1em;
    width: 33%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 24px;
    color: rgb(57, 57, 57);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 25px;
    margin-left: 17%;
    clear: both;
}
#localPediaMAP {
    float: left;clear: both;

    width: 419px; height: 355px;
    margin-top: -350px; margin-left: 55%; 
    background-image:url("/images/localPediaMAP.png");
    -webkit-background-size: 100%;
    background-size: 100%;

    /*color: rgb(57, 57, 57);*/

    position: relative; top: 0px; left: 0px;z-index: 11;


}
#Connect_Locally_Share_Globally_ {
    float: left;
    font-size: 1.85em;
    width: 34%;
    height: auto;
    text-align: right;
    font-weight: 600;
    line-height: normal;
    color: rgb(57, 57, 57);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 49px;
    margin-left: 17.595308%;
    clear: none;
}

#localpedia_block {
    float: left;
    height: 416px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#GrowSocial2015 {
    float: left;
    font-size: 1em;
    width: 12%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 22px;
    margin-left: 4%;
    clear: none;
}

#About_FAQ_Privacy_ {
    float: left;
    font-size: 1em;
    width: 35%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 22px;
    margin-left: 45%;
    clear: none;
}

#homefooter_background {
    float: left;
    height: 72px;
    width: 100%;
    background-color: rgb(9, 167, 85);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}












