/* Common Styles*/
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}
#tspanHOME01,#tspanHOME02,#tspanHOME03 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}
#tspanHOME02 {
    font-style: italic;
    font-weight: normal;
}
#tspanHOME03 {
    font-style: normal;
    font-weight: normal;
}

/*HomeNew styles*/
#HomecentralImg {
        float: left;
        width: auto;max-width: 100%; height: 100%;
        margin-left: 0%;   
        margin-top: -260px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;       
}
#main_image_block,#business_image_block,#localpedia_image_block,
#opportunities_image_block,#events_image_block,
#discussion_image_block,#member_image_block {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}
#featureImg {
    margin: 0px;
}
.overlayText {
    float: left;clear: none;
    height: auto;
    position: relative;  top: 0px; left: 0px; z-index: 90;
    margin-top: -180px; margin-left: 6%;
}
.thumbnail {  
    position:relative;
    height: auto; 
}
#featureHdr{
    font-size: 1.4em; color: rgb(255, 255, 255);
    text-align: left;   font-weight: normal; line-height: normal;
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato;   
}
#Main_headerx {
    float: left;
    font-size: 2em;
    width: 88%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;  text-decoration: none; font-family: lato;
    position: relative; top: 0px; left: 0px;
    z-index: 66;
    margin-top: 36px; margin-left: 7%;
    clear: none;
}
#Main_header2x {
    float: left;
    font-size: 1.2em;
    width: 88%;
    height: auto;
    text-align: center;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;  text-decoration: none; font-family: lato;
    position: relative; top: 0px; left: 0px;
    z-index: 66;
    margin-top: 16px; margin-left: 7%;
    clear: none;
}
#Learn_More_button {
    float: left;
    background-color: rgb(18, 130, 206);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
    margin-top: 19px;
    margin-left: 36.026936%;
    clear: both;
}
#Learn_More {
    float: left;
    font-size: 1.252845em;
    width: 64.324808%;
    height: auto;
    text-align: center;font-weight: normal;line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal; letter-spacing: normal;text-decoration: none; font-family: lato;
    position: relative;
    top: 0px;left: 0px; z-index: 64;
    margin-top: 10px; margin-left: 18.469499%;
    clear: none;
}
#Phoenix_Farms_Lakeland_Florida {
    float: left;
    font-size: 1em;
    width: 23%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin-top: -40%;
    margin-left: 60%;
    clear: both;
}

/*HomeAbout Styles*/
#relativeAboutContainer {
    position: relative;
    width: auto;
    height: 750px;
}
#garden_graphic {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    z-index: 18;
    background-image:url("/images/soil-sky.png");
    -webkit-background-size: 100%;
    height: 850px; 
    width: auto; 
    max-width: 1440px; 
    max-height: 750px;
}
#About_GrowSocial {
    font-size: 2em;
    height: auto;
    width:auto;
    margin-top: 2%;
    text-align: center;font-weight: 600;line-height: normal;
    color: rgb(57, 57, 57);
    font-style: normal;letter-spacing: normal;
    text-decoration: none;font-family: lato;
    z-index: 31; 
}
#AboutMSG  {
    float: left;clear: both;   
    top: 0px; left: 0px; z-index: 30;
    margin-top: 2%; margin-left: 15%;
    width: 66%; height: 100px;
    color: rgb(0, 0, 0);
    font-size: 1.09541em; line-height: 24px; text-align: center;font-weight: normal;
    font-style: normal; letter-spacing: normal;text-decoration: none;font-family: lato;
    overflow: auto;
}
#Members {
    color: rgb(255, 255, 255);
    position: relative;
    margin-top: 200px;
    margin-left: 20px;
    clear: none;
    font-size: 2em;
    height: auto;
    text-align: center;font-weight: 600;line-height: normal;
    font-style: normal;letter-spacing: normal;
    text-decoration: none;font-family: lato;
    z-index: 31; 
}
#MembershipMSG {
    font-size: 1.09541em;
    width: 80%;
    height: 200px;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 5px;
    margin-left: 20px;
    clear: none;
    overflow: auto;
}
#Join_GrowSocial_button {
    position: relative;
    z-index: 25;
    margin-top: 5%;
    margin-left: 25%;
    clear: both;
}
#profile_pic_circle {
    height: 208px;
    width: 208px;;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 30%;
    margin-left: 10%;
    clear: both;
    background-image:url("/images/user-images/anthony.png");
    -webkit-background-size: 100%;
    max-width: 99%;
    max-height: 99%;
}
#FeatureMember {
    float: left;
    font-size: 1em;
    width: 24%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 2%; margin-left: 2%;
    clear: none;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
}
#txtHOME01 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}
#txtHOME02 {
    float: none;
    font-size: 1.09541em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}
#About_block {
    height: 750px;
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 2%;
    margin-right: 0px;
    margin-left: 0%;
    clear: none;
}

/*HomeLocalPedia Styles*/
#relativeLocalPediaContainer {
    position: relative;
    width: auto;
    height: 550px;
}
#View_Localpedia {
    float: left;
    font-size: 1.1505712499999998em;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 16px;
    margin-left: 7%;
    clear: none;
}
#localpedia_button {
    background-color: rgb(18, 130, 206);
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 10%;
    margin-left: 60%;
    clear: both;
}
#localPediaMSG {
    font-size: 1em;
    height: 100px;
    text-align: right;
    font-weight: normal;
    line-height: 24px;
    color: rgb(57, 57, 57);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 25px;
    margin-left: 20px;
    clear: both;
    overflow: auto;
}
#localPediaMAP {
    margin-top: 5%;
    margin-left: 5%;
    max-width: 80%;
    max-height: 80%;
     background-color: transparent;
}
#Connect_Locally_Share_Globally_ {
    font-size: 1.85em;
    height: auto;
    text-align: right;
    font-weight: 600;
    line-height: normal;
    color: rgb(57, 57, 57);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 25px;
    margin-left: 5px;
    clear: none;
}
#localpedia_block {
    height: 550px;
    background-color: rgb(237, 237, 237);
    background-size: cover;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 2%;
    margin-right: 0px;
    margin-left: 0%;
    clear: none;
}

/*HomeFootr Styles*/
#homefooter_background {
    width: 100%;
    height: 40px;
    background-color: rgb(9, 167, 85);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 1%;
    margin-left: 4%;
    clear: none;
}
#GrowSocial2015 {
    float: left;
    font-size: 1em;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 1%;
    margin-left: 4%;
    clear: none;
}
#About_FAQ_Privacy_ {
    float: left;
    font-size: 1em;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    margin-top: 1%;
    top: 0px;
    left: 0px;
    z-index: 3;
    clear: none;
}

#relativefooterContainer {
float: left;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
}





