/* Reflow ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.primaryContainer {
    height: auto; min-height: 100%; width: 1366px;
    margin-left: auto; margin-right: auto;  
}/*width: 1576px;*/
 

#zone00 {    z-index: 1;
float: left;clear: none; position: relative; top: 0px;left: 0px;
    height: auto;width: 70%;
    background-color: rgb(226,226,226);
    margin-top: 0%; margin-left: 2%; margin-right: 0px;
} /*height: 640px;*/



#commentsPROFL {    z-index: 108;
    float: none;
    height: 128px; width: 88%;
    background-color: rgb(245, 245, 245);
    border-top-left-radius: 10px;border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
    border: 1px solid rgb(140, 140, 140);
    position: relative; top: 0px;left: 0px;

    margin-top: 23px;
    margin-left: auto;
    clear: none;
    margin-right: auto
}


#commEntryPROFL  {
    float: left;
    height: 46px;
    width: 95.37037%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 110;
    margin-top: 14px;
    margin-left: 2.430556%;
    clear: both;
}
#promptCommPROFL  {
    float: left;
    font-size: 0.875em;
    width: 40.898058%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 111;
    margin-top: 17px;
    margin-left: 1.697133%;
    clear: none;
}
#marketplaceItems {z-index: 64;
    float: none;clear: none;
    height: 250px; width: 88%;
    background-color: rgb(255, 255, 255);
    position: relative; top: 0px; left: 0px;
    
    margin-top: 14px; margin-left: auto;margin-right: auto;
}



#title {    z-index: 95;
    float: left;    clear: none;    position: relative;top: 0px;left: 0px;
    font-size: 1.2em;
    width: 20%; height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    color: rgb(102, 102, 102);
    font-style: normal; letter-spacing: normal; text-decoration: none;
    font-family: lato;

    margin-top: 8px; margin-left: 2%;

}

#IconCNONE,#IconCBOTH,#SelectFavorite,#SelectWatch {    z-index: 88;
    float: left; clear: none; position: relative; top: 0px; left: 0px;
    height: auto; width: auto; max-width: 100%; 
    margin-top: 4px; margin-left: 2%;margin-right: 0%;margin-bottom: 1%;
    
    color: rgb(0, 0, 0);
    /*background-color: rgb(35, 235, 235)*/
}
#IconCBOTH {    clear: both;
    /*background-color: rgb(235, 235, 35)*/
}
#right_arrow,#left_arrow {z-index: 77;
    float: left; clear: both; position: relative;top: 0px;left: 0px;
    width: auto; max-width: 100%;height: auto;    
    margin-top: 7.5%;margin-left: 1%;
    color: rgb(0, 0, 0);
}

#right_arrow {
    clear: none;
}


#View_All_ {z-index: 54;
    float: right; clear: none; position: relative; top: 0px; left: 0px;
       
    height: auto; text-align: left;   line-height: 18px;
    letter-spacing: 4px;
    font-size: 1.125em;font-style: normal; letter-spacing: normal;text-decoration: none;
    font-family: lato;  font-weight: 900;   
    color: rgb(96, 96, 96);
    margin-top: 8px; margin-right: 2%;  margin-bottom: 8px;
    /*background-color: rgb(255, 255, 55);*/
}
#marketItemsGroup {
    float: left;   clear: none;
    height: auto;width: 90%;
    margin-left: 2%; margin-top: 7px; 
}


#marketItem1,#marketItem2,#marketItem3,#marketItem4,#marketItem5 {z-index: 65;
    float: left;clear: none;position: relative;   top: 0px; left: 0px;

    height: 128px; width: 128px;
    /*  height: 145px; width: 18%;*/ 
    margin-top: 0px;  margin-left: 2%;
    background-color: rgb(224, 224, 224); 
}
#marketItem5 {  /*background-color: rgb(255, 255, 55);*/ 
}
#marketItem4 {   
}
#marketItem3 {    
}
#marketItem2 {    
}
#marketItem1 { clear :both;    
}

#itemDescriptions {
    float: left;
    height: auto;
    margin-left: 4.286131%;
    margin-top: 10px;
    clear: both;
    width: 91.87832%;
}


#itemDesc { z-index: 79;
    float: left;clear: none;
    width: 88%;
    height: auto;
    text-align: left;
    font-size: 0.875em; color: black;
font-style:normal;font-weight: normal;letter-spacing: normal;line-height: normal;
    text-decoration: none;
    font-family: lato;
/*    line-height: 1em;*/
    position: relative;
    top: 0px;left: 0px;
   
    margin-top: 75%; margin-left: 4%;margin-right: 0%;
    /*background-color: rgb(224, 224, 24);*/
}
#itemAlert { z-index: 79;
    float: left;clear: none;
    width: 88%;
    height: auto;
    text-align: left;
    font-size: 0.875em; color: black;
font-style:normal;font-weight: normal;letter-spacing: normal;line-height: normal;
    text-decoration: none;
    font-family: lato;
/*    line-height: 1em;*/
    position: relative;top: 0px;left: 0px;
   
    margin-top: 18%; margin-left: 8%;margin-right: 0%;
    /*background-color: rgb(224, 224, 24);*/
}




/* header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#buttons {float: left; clear: none;
          height: auto; width: 25%;
          margin-left: 50%;  margin-top: 244px;   
}/*margin-left: 50%;/*/

#blog { z-index: 19; float: left; clear: none; position: relative;background-color: rgb(156, 156, 156);
        height: 44px; width: 32%;
        top: 0px;left: 0px; margin-top: 0px;margin-left: 0%; margin-right: 0%;
}
#connect { z-index: 17; float: left; clear: none; position: relative;background-color: rgb(18, 130, 206);
        height: 44px; width: 32%;
        top: 0px;left: 0px; margin-top: 0px;margin-left: 3%;; margin-right: 0%;
}
#message { z-index: 22; float: left; clear: none; position: relative;background-color: rgb(9, 167, 85);
        height: 44px; width: 32%;
        top: 0px;left: 0px; margin-top: 0px;margin-left: 3%;; margin-right: 0%;
}
#View_Blog { z-index: 20; float: left; clear: none;     position: relative; color: rgb(255, 255, 255);   
    width: 65%; height: auto;
    text-align: left;font-weight: normal;line-height: normal; font-style: normal;
    letter-spacing: normal;text-decoration: none;
    font-family: lato; font-size: 1em;
    top: 0px; left: 0px;margin-top: 15px; margin-left: 31.730268%;
}/*width: 64.488733%;*/

#Connect { z-index: 18; float: left; clear: none;     position: relative; color: rgb(255, 255, 255);   
    width: 65%; height: auto;
    text-align: left;font-weight: normal;line-height: normal; font-style: normal;
    letter-spacing: normal;text-decoration: none;
    font-family: lato; font-size: 1em;
    top: 0px; left: 0px;margin-top: 15px; margin-left: 1.46%;
}/* margin-top: 16px;*/

 #Message {clear: both;
           margin-top: -15px; margin-left: 36.22%;
           width: 65%;
           font-size: 1em;
           font-family: lato; 
    }

#membrfunctXX {z-index: 41;float: left;clear: none;position: relative;   
    width: 14.10382%;height: auto;
    text-align: left;
    font-weight: bold;
    line-height: normal;
    /*color: black;*/
    color: rgb(76,76,76);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;font-size: 1.5em;
    
    top: 10px;left: 10px;
    
    margin-top: 23px; /*23*/
    margin-left: -27%;
    
}

#navbar {

    float: left;
    height: 68px;
    width: 1576px; /*1366px; auto; */
    background-color: rgb(235, 235, 235);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 4px;
    margin-left: 0%;
    clear: both;
}

#navbarPROFILE {
    float: left;
    height: 68px;
    width: 1576px; /*1366px; auto; */
    background-color: rgb(235, 235, 235);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 4px;
    margin-left: 0%;
    clear: both;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                                                                                                &&&&                                                                                                                
                                                                                                                &&&&
                                                                                                                &&&&*/                                                                                                                
/* #membrfunct {   font-size: 1.1em; }*/
/*
#membrfunct {    z-index: 6;
    float: left;    position: relative;    clear: none;

    width: 50%; height: auto;
    text-align: left;    line-height: 1.1em;
    font-weight: normal; font-size: 1.1em;

    top: 0px;  left: 0px;
    margin-top: 6px;margin-left: 1%;

} width: 16%;*/

#membrfunct {  z-index: 7;
    float: left;clear: none;position: relative;top: 0px;   left: 0px;
    font-size: 1.125em;
    width: 9%;   height: auto;
    text-align: left;    font-weight: 600;    line-height: normal;    color: rgb(76, 76, 76);
    font-style: normal; letter-spacing: normal; text-decoration: none; font-family: lato; 
    margin-top: 8px;    margin-left: 1%;   
}
/*#membrfunct {  z-index: 7;
    float: left;
    font-size: 1.125em;
    width: 8.744856%;   height: auto;
    text-align: left;    font-weight: 600;    line-height: normal;    color: rgb(76, 76, 76);
    font-style: normal;    letter-spacing: normal;    text-decoration: none;    font-family: lato;   position: relative;
    top: 0px;   left: 0px;      margin-top: 29px;    margin-left: 0.97736626%;   clear: none;
}*/

#membrfunctX {z-index: 7;
    float: left;position: relative;clear: none;
    font-size: 1.3em;font-weight: 600;
    width: 9%;
    height: auto;
    text-align: left;line-height: normal;

    color: rgb(76, 76, 76);
    font-style: normal;letter-spacing: normal; text-decoration: none;
    font-family: lato;
    
    top: 0px;left: 0px; margin-top: 22px;margin-left: 1%;
   
}


#Message {
    float: left;
    font-size: 1.125em;
    width: 64.488733%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: -15px;
    margin-left: 36.224663%;
    clear: both;
}

#member {
    float: left;
    height: 180px;
    width: 180px;
    background-color: rgb(242, 242, 242);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 242.765625px;
    margin-left: 17.922839%;
    clear: none;
}

#profile {
    float: left;
    font-size: 1.125em;
    width: 8.744856%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    color: rgb(76, 76, 76);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 29px;
    margin-left: -21.090535%;
    clear: none;
}

#Vector_Smart_Object {z-index: 11;
    float: left;clear: none;position: relative;top: 0px;left: 0px;
    /*
    width: 26px;height: 19px;
    margin-top: 9px; margin-left: 10%;
    */
    max-width: 100%; 
    width: auto; height: auto;   
    margin-top: 3px; margin-left: 8%; 
    color: rgb(0, 0, 0);    
}
#Photo_Object,#Photo_ObjectFULL {z-index: 11;
    float: left;clear: none;position: relative;top: 0px;left: 0px;

    max-width: 100%; 
    width: auto; height: auto;   
    margin-top: 2%; margin-left: 2%; 
    color: rgb(0, 0, 0);    
}
#Photo_ObjectFULL {    
    margin-top: 0%; margin-left: 0%; 
   
}

#award_icon,#lotus_icon,#sun_icon,#tomato_icon {
    z-index: 39;position: relative;top: 0px;  left: 0px;
    float: left;clear: none;
    width: auto;max-width: 100%; height: auto;
    color: rgb(0, 0, 0);  
}
#award_icon  { margin-top: 8px; margin-left: 16%;
    }
#lotus_icon  { margin-top: 14px; margin-left: 7%;
}
#sun_icon    { margin-top: 11px; margin-left: 14%;
}
#tomato_icon { margin-top: 9px; margin-left: 15%;
}

#badges {
    float: left;clear: none;
    height: auto;width: 27%;
    margin-left: 0%;  margin-top: 2%;
    /*background-color: rgb(225, 225, 25);*/
}
#badge-frame {
    float: left; clear: none; position: relative; top: 0px; left: 0px;
    height: 56px;width: 14%;
    background-color: rgb(225, 225, 225);
    -webkit-box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    background-image:-webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    
    z-index: 38;
    margin-top: 0px; /*11px;*/
    margin-left: 2%;margin-right: 0%;
    /*clear: both;*/
}
#badge-frame {
        margin-top: 0px;
        clear: none;
       
 
    }
#badges-help {z-index: 31;
 float: left;clear: none;position: relative;top: 0px;left: 0px;
    font-size: 0.841423125em;
    width: 22%;height: auto;
    text-align: left;
    font-weight: 300;
    line-height: normal;
    color: rgb(76, 76, 76);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: underline;
    font-family: lato;
    
    
    margin-top:2%;
    margin-left: 2%;
    
}


#_ {
    float: left;
    font-size: 2.309355em;
    width: 20.280829%;
    height: auto;
    text-align: left;
    font-weight: 900;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 13px;
    margin-left: 10.859472%;
    clear: none;
}



#sun {    z-index: 32;
    float: left;    clear: none;
    height: 56px; width: 5%;
    background-color: rgb(225, 225, 225);
    -webkit-box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    background-image:-webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    position: relative;
    top: 0px;left: 0px;

    margin-top: 11px;
    margin-left: 0.49124633%;

}
#veggies {
    float: left;
    height: 56px;
    width: 2.741644%;
    background-color: rgb(225, 225, 225);
    -webkit-box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    background-image:-webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 11px;
    margin-left: 0.49124633%;
    clear: none;
}



#lotus {
    float: left;
    height: 56px;
    width: 2.741644%;
    background-color: rgb(225, 225, 225);
    -webkit-box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    box-shadow: rgba(0, 0, 0, 0.317647) -1px -5px 8px;
    background-image:-webkit-linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(216, 216, 216) 100%);
    position: relative;
    top: 0px; left: 0px;
    z-index: 36;
    margin-top: 11px;
    margin-left: 0.49153009%;
    clear: none;
}




#membPic {
    float: left;
    width: 178px;
    max-width: 100%;
    height: 178px;
    margin-left: -0.56985294%;
    margin-top: -2.765625px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}



#image {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 1576px) {



#commEntryPROFL  {
        border: 1px solid rgb(136, 136, 136);
    }
#promptCommPROFL  {
        border: 1px none rgb(136, 136, 136);
        margin-top: 12px;
        margin-left: 1.695348%;
        clear: none;
        width: 96%;
    }

#marketplaceItems {
        border: 1px solid rgb(145, 145, 145);
    }


    #Watch_icon {
        margin-left: 42%;
    }

    #Watch_icon1 {
        margin-left: 15%;
    }

    #Watch_icon2 {
        margin-left: 15%;
    }

    #Watch_icon3 {
        margin-left: 15%;
    }

    #Watch_icon4 {
        margin-left: 15%;
    }

    #item2flag {
        margin-left: 13%;
        width: 8.5%;
    }

    #item3flag {
        margin-left: 13%;
        width: 8.5%;
    }

    #item4flag {
        margin-left: 13%;
        width: 8.5%;
    }

    #item5flag {
        margin-left: 13%;
        width: 8.5%;
    }

    #item1flag {
        width: 8.5%;
    }

   #Watch_icon {
        margin-left: 42%;
    }

    #Watch_icon1 {
        margin-left: 15%;
    }

    #Watch_icon2 {
        margin-left: 15%;
    }

    #Watch_icon3 {
        margin-left: 15%;
    }

    #Watch_icon4 {
        margin-left: 15%;
    }
/* header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#image {
        float: left;
        width: auto;
        max-width: 100%;
        height: auto;
        margin-left: 0%;
        margin-top: 0px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0%;
    }

    #member {
        margin-top: -3%;
        margin-left: 20%;
        clear: none;
        margin-right: 0px;
        float: left;
    }

    #buttons {
        margin-top: 13.767053%;
        margin-left: -45.000198%;
        clear: none;
        width: 26.239293%;
        margin-right: 0%;
        position: relative;
        top: 0px;
        left: 0px;
    }

    #navbar {
        margin-top: -2.3%;
        margin-left: 0%;
        clear: both;
        background-image:-webkit-linear-gradient(270deg, white 72%, rgb(226, 226, 226) 100%);
        background-image: linear-gradient(180deg, white 72%, rgb(226, 226, 226) 100%);
        background-attachment: scroll;
        -webkit-background-size: auto;
        background-size: auto;
        background-color: rgb(235, 235, 235);
        background-position: 0% 0%;
        background-repeat: repeat repeat;
    }
    #navbarPROFILE {
        margin-top: -2.3%;
        margin-left: 0%;
        clear: both;
        background-image:-webkit-linear-gradient(270deg, white 72%, rgb(226, 226, 226) 100%);
        background-image: linear-gradient(180deg, white 72%, rgb(226, 226, 226) 100%);
        background-attachment: scroll;
        -webkit-background-size: auto;
        background-size: auto;
        background-color: rgb(235, 235, 235);
        background-position: 0% 0%;
        background-repeat: repeat repeat;
    }


 }





    #membrfunctXX {
        margin-top: 2%;
        margin-left: 0%;
        clear: none;
        width: 17.1%;
    }



    #View_Blog {
        margin-top: 10px;
        margin-left: 20.154563%;
        clear: none;
        width: 64.487242%;
    }

    #Connect {
        margin-top: 11px;
        margin-left: 2.232581%;
        clear: none;
        width: 64.487242%;
    }
    #Message {
        margin-top: -16px;
        margin-left: 36.218425%;
        clear: both;
        width: 64.48737%;
    }

    #_ {
        margin-top: -3px;
        margin-left: 10.071148%;
        clear: none;
        width: 20.277233%;
    }




#membrfunctX {
        margin-top: 22px;
        margin-left: 0.9765625%;
        clear: none;
        font-size: 1.3em;
    }
#membrfunct {
        margin-top: 8px;
        margin-left: 0.5%;
        clear: none;
        font-size: 1.125em;
    }





    #blog {
        width: 30.801783%;
        height: 44px;
    }

    #connect {
        width: 30.801783%;
        height: 44px;
    }

    #message {
        width: 30.514623%;
        height: 44px;
    }

    #membPic {
        margin-left: -0.37%;
        margin-top: -1.626838%;
    }
}
