<template name="contactUs">
  <!-- TODO if logged in, prepopulate name and email and zip if have them -->
  <h1>Contact Us</h1>
  <div>
    <form action="#" id='contact-us-form'>
      <div class="form-group">
        <input type="text" name="name" class="form-control" placeholder="Your Name">
      </div>
      <div class="form-group">
        <input type="text" id="email" class="form-control" placeholder="Your Email">
      </div>
      <div class="form-group">
        <input type="text" name="zip" class="form-control" placeholder="Your Zip (optional)">
      </div>
      <div class="form-group">
        <textarea id="message" class="form-control" required="required" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn" id="button-submit">Submit message</button>
      </div>
    </form>
  </div>
  {{> contactUsMessageList}}
</template>

<template name="contactUsMessageList">
  <!-- TODO if logged in, show previous feedback received from the same user -->
  <h2>List of messages</h2>
  <ul>
    {{#each contactUsMessages}}
      <li>{{text}} by {{author.emails}}</li>
    {{/each}}
  </ul>
</template>
