<template name="contactUs">
  <!-- if logged in, prepopulates name and email and zip if have them -->
  <!-- TODO validate email address format -->
  <div class="container contactus-container">
      <h1>Contact Us</h1>
      <div class="row">
        <form class="col-sm-6 col-xs-10" action="#" id='contact-us-form'>
          <div class="form-group">
            <input type="text" id="name" class="form-control" placeholder="Your Name" value="{{person.fullname}}">
          </div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Your Email" value="{{person.email}}">
          </div>
          <div class="form-group">
            <input type="text" id="zipcode" class="form-control" placeholder="Your Zip code (optional)" value="{{person.zipcode}}">
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control" required="required" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input name="mailinglist" type="checkbox" value="">Add me to the mailing list for regular updates.</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-submit" id="button-submit">Submit message</button>
          </div>
        </form>
      </div>
      {{#if currentUser}}
        {{> contactUsMessageList}}
      {{/if}}
  </div>
</template>

<template name="contactUsMessageList">
  <!-- if logged in, show previous messages received from the same user -->
  <!-- TODO if logged in as admin, option to browse all feedback // OR have an admin page for this -->
  <h2>Messages Submitted</h2>
  <ul>
    {{#each contactUsMessages}}
      <!-- Other fields available: someDate, name, email, zipcode -->
      <!-- <li><span class="hidden-xs">{{someDate}} </span>{{text}}</li> -->
      <!-- hide date/time on small screens -->
      <li><span class="hidden-xs">{{formatTime(createdAt)}} </span>{{text}}</li>
    {{/each}}
  </ul>
</template>
